<%- include('../includes/head.ejs') %>
</head>
<body>
<%- include('../includes/nav.ejs') %>
<main>
    <h1>Cart</h1>
    <% if (products.length > 0) {%>
        <ul>
            <% products.forEach(el => { %>
                <li>
                    <h2><%= el.productId.title %> - Quantity: <b><%= el.quantity %></b></h2>
                    <form action="/cart-delete-item" method="post">
                        <input type="hidden" name="productId" value="<%= el.productId._id %>">
                        <button class="btn" type="submit">Delete</button>
                    </form>
                </li>
            <% }) %>
        </ul>

        <form action="/orders" method="post">
            <button class="btn" type="submit">Add to Order</button>
        </form>
    <% } else { %>
        <h2>No Products in Cart!</h2>
    <% } %>
</main>
<%- include('../includes/end.ejs') %>